{% extends 'base.html' %}
{% load static %}

{%block content%}
<div class="block-31" style="position: relative; background-color: #79ccab">
  <div class="site-section">
    <div class="container py-4">
      <div class="row my-4">
        <div class=" col-12 d-flex justify-content-center align-items-center">
          <form class="col-md-6" method="POST" action="{% url 'user_login' %}">
            {% csrf_token %}
            <div class="form-group">
              <p>{{error}}</p>
              <label>Username</label>
              <input type="text" class="form-control" name="username" aria-describedby="emailHelp"
                placeholder="Username" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Log in</button>
        
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}